<!DOCTYPE html>
<html>
<body>

<form method="POST" action="">

    <label for="BeginDate">Start date:</label>

    <input type="date" id="BeginDate" name="BeginDate"
           value="2021-01-01"
           min="2021-01-01" max="2021-12-31" required>

    <label for="BeginTime">Start time:</label>

    <input type="time" id="BeginTime" name="BeginTime" required>


    <label for="EndDate">End date:</label>

    <input type="date" id="EndDate" name="EndDate"
           value="2021-01-01"
           min="2021-01-01" max="2021-12-31" required>

    <label for="EndTime">End time:</label>

    <input type="time" id="EndTime" name="EndTime" required>

    <label for="ShiftType">Position Type</label>

    <select name="ShiftType" id="ShiftType">
        {% for x in pos %}
            <option value={{ x[0] }}>{{ x[1] }}</option>

        {% endfor %}
    </select>


    <INPUT TYPE="submit" name="submit_button" value="Add Shift" >

</form>


<form method="POST" action="">
    <TABLE BORDER="1">
        <TR>
            <TD></TD>
            <TD>Posted By</TD>
            <TD>Start Time</TD>
            <TD>End Time</TD>
        </TR>


        {% for x in strs %}
            <TR>
                <TD><INPUT TYPE="checkbox" value={{ x[0] }} NAME='shift'></TD>
                <TD>{{ x[1] }}</TD>
                <TD>{{ x[2] }}</TD>
                <TD>{{ x[3] }}</TD>
            </TR>

        {% endfor %}
    </TABLE>
    <BUTTON TYPE="submit" name="select_shift" value="Select Shift"> Select Shift </BUTTON>

</form>


<TABLE BORDER="1">
    <TR>
        <TD>Your current shifts</TD>

    </TR>
    <TR>
        <TD>Posted By</TD>
        <TD>Start Time</TD>
        <TD>End Time</TD>
    </TR>


    {% for x in working %}
        <TR>
            <TD>{{ x[1] }}</TD>
            <TD>{{ x[2] }}</TD>
            <TD>{{ x[3] }}</TD>
        </TR>

    {% endfor %}
</TABLE>

<form method="POST" action="">
    <TABLE BORDER="1">
        <TR>
            <TD>Change wages for positions.</TD>
        </TR>
        <TR>
            <TD>Position Name</TD>
            <TD>Current Wage</TD>
            <TD>New Wage</TD>
        </TR>


        {% for x in pos %}
            <TR>
                <INPUT TYPE="hidden" VALUE={{ x[0] }} NAME='pos_id'>
                <TD>{{ x[1] }}</TD>
                <TD>{{ x[2] }}<NAME=old_wage></TD>
                <TD><INPUT TYPE="text" placeholder="new wage" NAME='new_wage'></TD>
            </TR>

        {% endfor %}
    </TABLE>
    <BUTTON TYPE="submit" name="edit_wages" value="Edit Wages"> Edit Wages </BUTTON>

</form>
                
<a href=tc ><button target="_blank">View Time Card</button></a>
<a href=ap ><button target="_blank">Annual Pay Roll</button></a>
<a href=wp ><button target="_blank">Weekly Pay Roll</button></a>

</body>
</html>
